html {
    height: 100%;
}

body {

    color: #555;
    font-family: 'Lato';

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.background-image {
    background: url('/assets/images/pitch.jpg') no-repeat center center fixed;
    background-size: cover;
}

.register-now-button {
    background: white;
    color: black;
    min-width: 260px;
}
